body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans SC', sans-serif;
    /* background-image: url("./5418.JPG"); The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.allLists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.new #save {
    display: none;
}

.edit #add {
    display: none;
}

ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

#list li {
    display: flex;
    align-items: baseline;
    padding: 10px 0 0 0;
}

li::before {
    /* add the new bullet point */
    display: inline-block;
    content: '\2713';
    margin-right: 5px;
    color: rgb(70, 141, 163);
}

.content {
    min-width: 80px;
}

#form {
    padding-top: 10px;
}

.btn {
    margin-left: 10px;
    padding: 2px 10px;
    border: 1px solid #4caf50;
    border-radius: 2px;
}

.btn.btn-delete {
    border: 1px solid #e91e63;
}

.container {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px #999494af;
}

.shopping-list {
    border-radius: 10%;
    border: gray solid 1px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    padding-top: 0px;
}

#list-done li {
    text-decoration: line-through;
    color: black;
}

.addNewList {
    text-align: center;
    border: gray dotted 2px;
    padding: 15px;
    background-color: white;
    width: 50%;
}

.name-list {
    font-size: 20px;
    color: rgb(68, 68, 63);
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    border: gray solid 0.5px;
}

.pin-img {
    width: 15px;
    height: 15px;
    margin: 10px;
}

.add-new-list {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}