<li id="li-{{id}}" class="mdl-list__item">
        <span id="{{id}}" class="spanLi mdl-list__item-primary-content"> {{text}} </span>
        <button id="add" class="btn btn-edit mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <div id="tt1" class="icon material-icons">create</div>
        </button>
        <button class="btn btn-delete mdl-button mdl-js-button mdl-button--accent">
                <div id="tt1" class="icon material-icons">clear</div>
        </button>
</li>